<!DOCTYPE html>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MYCommunity Origins</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      We are a small community of artists, musicians, writers, cooks, enetertainers who wanted a personable space to interact with eachother!
      
      Email: amurphy7@live.maryville.edu
      Phone: 3146654507

      Please dont hesistate to message us with any comments, concerns or questions!

      <ion-img
      src="https://pxhere.com/en/photo/1416998"
      alt="Teamwork is the Core of everything we do!"></ion-img>

    </ion-card-content>
  </ion-card>

  <ion-img
  src="https://pxhere.com/en/photo/1416998"
  alt="Teamwork is the Core of everything we do!"></ion-img>

<ion-content class="ion-padding">
  <h1>Content</h1>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>MyCommunity@gmail.com</ion-title>
  </ion-toolbar>
</ion-footer>